Repository DewitteRuben/chuckle-norris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix --config eslint.config.mjs

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier -w",
    "eslint --fix --config eslint.config.mjs"
  ],
  "**/*.{html,json,css,scss,md,mdx}": [
    "prettier -w"
  ]
}

ci(fix): ensure that pages and package are properly deployed
  .github/workflows/master.yaml
  package-lock.json
  package.json
Due: prettier -w

fix: add .github to prettier ignore to prevent permission issues in GA
  .prettierignore
Due: none

chore: update page title and description
  public/index.html
Due: prettier -w

build: bump version
  package-lock.json
  package.json
Due: prettier -w

refactor: create seperate component for Button
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/JokeFeed/JokeFeed.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

fix: break long words in JokeCard
  src/components/JokeCard/JokeCard.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

refactor: get rid of loading state, and just load joke by joke
  src/components/JokeFeed/JokeFeed.test.tsx
  src/components/JokeFeed/JokeFeed.tsx
  src/context/jokes.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

docs: add development step to README
  README.md
Due: prettier -w
