Repository DewitteRuben/chuckle-norris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix --config eslint.config.mjs

chore: remove unused boilerplate test and css
  package.json
  src/App.css
  src/App.test.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: install react-router-dom and setup route boilerplate
  package-lock.json
  package.json
  src/App.tsx
  src/index.tsx
  src/pages/Favorites.tsx
  src/pages/Home.tsx
  src/router/index.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: add ChuckAPI and tests
  src/api/chuck-api.test.ts
  src/api/chuck-api.ts
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: add basic app layout with nav and container
  src/App.tsx
  src/components/Container.tsx
  src/components/Navbar.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: add Github action workflow for linting and testing on dev branch
  .github/workflows/dev.yaml
Due: none

fix: make sure that commitlint doesn't fail for GA
  .github/workflows/dev.yaml
Due: none

chore: apply formatting changes
  .lintstagedrc
  commitlint.config.js
  eslint.config.mjs
  public/index.html
  src/index.css
  src/reportWebVitals.ts
  src/setupTests.ts
  tailwind.config.js
  tsconfig.json
Due: prettier -w, eslint --fix --config eslint.config.mjs

chore: rename quote to joke
  src/api/chuck-api.test.ts
  src/api/chuck-api.ts
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: basic joke feed with loading state
  src/components/JokeCard/JokeCard.test.tsx
  src/components/JokeCard/JokeCard.tsx
  src/components/JokeFeed/JokeFeed.tsx
  src/pages/Home.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

style: light gray background color to body
  src/index.css
Due: prettier -w

refactor: lift up state using Context API
  src/components/JokeFeed/JokeFeed.test.tsx
  src/components/JokeFeed/JokeFeed.tsx
  src/context/jokes.tsx
  src/index.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

chore: rename 'quote' to 'joke'
  src/api/chuck-api.test.ts
  src/components/JokeCard/JokeCard.test.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: add toggleable interval mode that fetches more jokes
  src/components/JokeFeed/JokeFeed.test.tsx
  src/components/JokeFeed/JokeFeed.tsx
  src/context/jokes.tsx
  src/index.css
  src/pages/Home.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: create favorites storage API with localstorage
  src/database/localstorage.test.ts
  src/database/localstorage.ts
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: ability to add a favorite by clicking on card
  src/components/JokeCard/JokeCard.test.tsx
  src/components/JokeCard/JokeCard.tsx
  src/components/JokeFeed/JokeFeed.test.tsx
  src/components/JokeFeed/JokeFeed.tsx
  src/context/favorites.tsx
  src/index.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: favorites feed with removable favorites
  src/components/FavoritesFeed/FavoritesFeed.test.tsx
  src/components/FavoritesFeed/FavoritesFeed.tsx
  src/pages/Favorites.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

chore: use it instead of test for consistency
  src/database/localstorage.test.ts
Due: prettier -w, eslint --fix --config eslint.config.mjs

refactor: replace duplicate header code with a generic PageHeader component
  src/components/FavoritesFeed/FavoritesFeed.tsx
  src/components/JokeFeed/JokeFeed.tsx
  src/components/PageHeader/PageHeader.test.tsx
  src/components/PageHeader/PageHeader.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: install PropTypes for prop validation (eslint)
  package-lock.json
  package.json
Due: prettier -w

refactor: use generic FeedContainer for feed layout
  src/components/FavoritesFeed/FavoritesFeed.tsx
  src/components/FeedContainer.tsx
  src/components/JokeFeed/JokeFeed.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

chore: add PropTypes to remaining components
  src/components/JokeCard/JokeCard.tsx
  src/components/PageHeader/PageHeader.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

chore: add new font and styling
  public/index.html
  src/index.css
Due: prettier -w

chore: simple responsiveness
  src/components/JokeFeed/JokeFeed.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

feat: add workflow for building and deployment
  .github/workflows/master.yaml
Due: none

deploy: 600bf1601676225723f9aa0257403c22e8ce7416
  .nojekyll
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.369a404e.css
  static/css/main.369a404e.css.map
  static/js/453.ace257b5.chunk.js
  static/js/453.ace257b5.chunk.js.map
  static/js/main.0ae3e365.js
  static/js/main.0ae3e365.js.LICENSE.txt
  static/js/main.0ae3e365.js.map
Due: prettier -w, eslint --fix --config eslint.config.mjs

Updates
  .nojekyll
  asset-manifest.json
  index.html
  static/js/453.ace257b5.chunk.js
  static/js/453.ace257b5.chunk.js.map
  static/js/453.c7a85c9b.chunk.js
  static/js/453.c7a85c9b.chunk.js.map
  static/js/main.00805e92.js
  static/js/main.00805e92.js.LICENSE.txt
  static/js/main.00805e92.js.map
  static/js/main.0ae3e365.js
  static/js/main.0ae3e365.js.map
Due: prettier -w, eslint --fix --config eslint.config.mjs

Updates
  asset-manifest.json
  index.html
  static/js/main.00805e92.js
  static/js/main.00805e92.js.map
  static/js/main.2247b17e.js
  static/js/main.2247b17e.js.LICENSE.txt
  static/js/main.2247b17e.js.map
Due: prettier -w, eslint --fix --config eslint.config.mjs

chore: use hashRouter so it can be deployed to Github pages
  src/router/index.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

chore: more setup for github pages deployment
  .github/workflows/master.yaml
  package-lock.json
  package.json
Due: prettier -w

feat: fade out animation when card is removed from feed
  package-lock.json
  package.json
  src/components/JokeCard/JokeCard.tsx
  src/components/JokeFeed/JokeFeed.tsx
Due: prettier -w, eslint --fix --config eslint.config.mjs

docs(readme): update README
  README.md
Due: prettier -w

deploy: dbc8d3d08077ad6dbe9c1c3063030a88b1877eb9
  .nojekyll
  asset-manifest.json
  index.html
  static/css/main.369a404e.css
  static/css/main.369a404e.css.map
  static/css/main.773b9575.css
  static/css/main.773b9575.css.map
  static/js/main.2247b17e.js
  static/js/main.2247b17e.js.map
  static/js/main.a5e4f422.js
  static/js/main.a5e4f422.js.LICENSE.txt
  static/js/main.a5e4f422.js.map
Due: prettier -w, eslint --fix --config eslint.config.mjs

build: bump version
  package.json
Due: prettier -w

chore: apply formatting changes
  package-lock.json
Due: prettier -w

Path conditions:
  prettier -w: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{html,json,css,scss,md,mdx})
  eslint --fix --config eslint.config.mjs: any of: **/*.{js,jsx,ts,tsx}
